{% extends 'base.html' %}

{% block dashboard %}
    {% include 'navbar2.html' %}
    <br><br><br><br><br>
    <!--Main container-->
    <div class="container">
        <!--Section: Best Features-->
        <section id="sec-dashboard">
            <div class="divider-new">User Dashboard</div>

            <div class="row dashboard-header">
                <div class="col-md-4">
                    <h5 class="h5-responsive verticalcenter">Projects</h5>
                </div>
                <div class="col-md-4 col-md-offset-4 new-project">
                    <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">add</i></a> New Project
                </div>
            </div>

            <div class="row">
               <ul class="collection">
                    <li class="collection-item">Project 1</li>
                    <li class="collection-item">Project 2</li>
                    <li class="collection-item">Project 3</li>
                    <li class="collection-item">Project 4</li>
                </ul>
            </div>

        </section>
        <!--/.Section: Best Features-->
    </div>

{% endblock %}