{% extends 'base.html' %}

{% block index %}
    {% include 'navbar.html' %}
    <!-- Intro image -->
    <section class="full-bg-img" id="sec-home">
        <!--Mask-->
        <div class="view rgba-black-strong">

            <!--Alignment-->
            <div class="verticalcenter">
                <div class="container">
                    <div class="row">

                        <!--Content-->
                        <div class="col-md-6 white-text wow fadeInLeft">
                            <h2>TuneFork</h2>
                            <p>TuneFork is literally here to change your life.</p>
                            <a href="#sec-best-features" class="btn btn-primary btn-ptc btn-lg waves-effect waves-light">Learn more</a>
                        </div>
                        <!--/.Content-->

                        <!--Form-->
                        <div class="col-md-6 wow fadeInRight">
                            <div class="card-panel">
                                <!--Header-->
                                <div class="modal-header text-center">
                                    <h4><i class="fa fa-user"></i> Login:</h4>
                                </div>
                                <!--/.Header-->

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--Form-->
                                            <form method="post" action="/dashboard/">
                                                {% csrf_token %}
                                                <div class="input-field">
                                                    <i class="material-icons prefix">account_circle</i>
                                                    <input name="username" id="icon_prefix" type="text" class="validate">
                                                    <label for="icon_prefix">Username</label>
                                                </div>

                                                <div class="input-field">
                                                    <i class="material-icons prefix">vpn_key</i>
                                                    <input id="icon_email" type="password" class="validate">
                                                    <label for="icon_email">Password</label>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-ptc waves-effect waves-light">Login</button>

                                                    <div class="subscription-checkbox">
                                                        <form action="#">
                                                            <label for="test6">
                                                                <p>New to TuneFork? <a data-toggle="modal" data-target="#myModal-3">Create an account.</a></p>
                                                            </label>
                                                        </form>
                                                    </div>
                                                </div>

                                            </form>
                                            <!--/.Form-->
                                        </div>
                                    </div>
                                </div>
                                <!--/.Body-->
                            </div>
                        </div>
                        <!--/.Form-->

                    </div>
                </div>
            </div>
            <!--/.Alignment-->

        </div>
        <!--/.Mask-->

    </section>
    <!--/. Intro image -->

    <!--Main container-->
    <div class="container">

        <!--Section: Best Features-->
        <section id="sec-best-features">
            <div class="divider-new">Why TuneFork?</div>

            <div class="row">

                <!--First column-->
                <div class="col-md-3">
                    <div class="elegant-card z-depth-1 hoverable wow slideInUp">
                        <!-- Image wrapper -->
                        <div class="view overlay hm-blue-slight">
                            <img src="/static/img/upload.jpeg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <div class="card-content">
                            <h5>Plug In Inspiration</h5>
                            <p>TuneFork encourages you to collabotate with artists from all over the country and to stimulate your musical perception. Our community is comprised of musicians that are eager to inspire and to be inspired. TurnFork members have instant access to artists tracks and have the ability to extract sub-comonents of each track. Whether it be vocals, guitar, or piano recordings, TuneFork allows easy extraction of track segments.</p>
                        </div>
                    </div>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-3">
                    <div class="elegant-card z-depth-1 hoverable wow slideInUp" data-wow-delay="0.2s">
                        <!-- Image wrapper -->
                        <div class="view overlay hm-blue-slight">
                            <img src="/static/img/explore.jpeg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <div class="card-content">
                            <h5>Collaboration Made Easy</h5>
                            <p>Have you ever wanted to pull the instramentals out of your favorite song and mix them into something new? TurnFork allows you to pull any component of a subscribed artist's song and utilize them in your own personal digital audio workstation. After your contribution, TuneFork allows you to share your remixed track with all TuneFork artists.</p><br><br>
                           
                        
                        </div>
                    </div>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-3">
                    <div class="elegant-card z-depth-1 hoverable wow slideInUp" data-wow-delay="0.4s">
                        <!-- Image wrapper -->
                        <div class="view overlay hm-blue-slight">
                            <img src="/static/img/fork.jpeg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <div class="card-content">
                            <h5>Grow As A Musician</h5>
                            <p>TuneFork is targeted specifically to a network indie artists who are looking to collaborate and help each other branch out into different genres. Music is all about exploration and finding your true passion as an artist, which makes the TuneFork community the perfect setting for beginning artists to put themselves out there are work with other aspiring musicians.</p><br>
                        </div>
                    </div>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-3">
                    <div class="elegant-card z-depth-1 hoverable wow slideInUp" data-wow-delay="0.5s">
                        <!-- Image wrapper -->
                        <div class="view overlay hm-blue-slight">
                            <img src="/static/img/create.jpeg" class="img-responsive" alt="">
                            <div class="mask waves-effect"></div>
                        </div>
                        <div class="card-content">
                            <h5>Spread The Love of Music </h5>
                            <p>If TuneFork is for you, it's because you are passionate about any and all melodies and the way the vibration of music makes you feel. No matter where you are in your music career, there's always time to tune into an unfamiliar artist. Whether you are a novice or a legend, TuneFork has a special spot for you to spread your musical vision and insight.</p><br><br>
                        </div>
                    </div>
                </div>
                <!--/.Fourth column-->
            </div>
        </section>
        <!--/.Section: Best Features-->


        <!-- Modal -->
        <div class="modal fade" id="myModal-3" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header text-center">
                        <h4><i class="fa fa-user"></i> Register with:</h4>
                        <a class="btn-floating btn-large fb-bg waves-effect waves-light"><i class="fa fa-facebook"> </i></a>
                    </div>
                    <!--/.Header-->

                    <!--Body-->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <!--Form-->
                                <form>
                                    <h4 class="text-center">or:</h4>

                                    <div class="input-field">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="icon_email" type="text" class="validate">
                                        <label for="icon_email">Username</label>
                                    </div>

                                    <div class="input-field">
                                        <i class="material-icons prefix">email</i>
                                        <input id="icon_email" type="text" class="validate">
                                        <label for="icon_email">E-mail</label>
                                    </div>

                                    <div class="input-field">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="password" type="password" class="validate">
                                        <label for="password">Password</label>
                                    </div>

                                    <div class="input-field">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="password-rep" type="password" class="validate">
                                        <label for="password-rep">Repeat password</label>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-lg waves-effect waves-light">Sign up</button>
                                    </div>

                                </form>
                                <!--/.Form-->
                            </div>
                        </div>
                    </div>
                    <!--/.Body-->

                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal">X</button>
                        <div class="options">
                            <p>Already have an account? <a type="submit" data-dismiss="modal">Login</a></p>
                        </div>
                    </div>
                    <!--/.Footer-->
                </div>
            </div>
        </div>
        <!--/.Modal-->

    </div>

    {% include 'footer.html' %}

{% endblock %
