{% extends 'base.html' %}

{% block dashboard %}
    {% include 'navbar2.html' %}
    <br><br><br><br><br>
    <!--Main container-->
    <div class="container">
        <!--Section: Best Features-->
        <section id="sec-dashboard">
            <div class="divider-new">User Dashboard</div>

            <div class="row dashboard-header">
                <div class="col-md-4">
                    <h5 class="h5-responsive">Tracks</h5>
                </div>
                <div class="col-md-4 col-md-offset-4 new-project">
                    <a class="btn-floating btn-small waves-effect waves-light red" data-toggle="modal" data-target="#newProject"><i class="material-icons">add</i></a>
                </div>
            </div>

            <div class="row">
               <ul class="collection">
                   {% for track in tracks %}
                        <li>{{ track }}</li>
                   {% endfor %}
                </ul>
            </div>

        </section>
        <!--/.Section: Best Features-->

        <!-- Modal -->
        <div class="modal fade" id="newProject" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Project</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="col-md-12">
                      <div class="row">
                        <div class="input-field col-md-12">
                          <input id="first_name" type="text" class="validate">
                          <label for="project_name">Project Name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col-md-4">
                          <label for="first_name">Upload Components</label>
                        </div>

                        <div class="file-field input-field col-md-8">
                          <button type="button" class="btn btn-project">
                            <input type="file" />
                          </button>
                        </div>
                      </div>
                    </form>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Create Project</button>
            </div>
          </div>

        </div>
        </div>




    </div>
    <div class="container-fluid">
        <div id="holder">
        <div class="row-fluid" id="trackBed">
            <div class="span3">
                <div class="sidebar tabbable tabs-below well">
                    <div class="tab-content tabContents">
                        <div class="tab-pane sidebar-nav sidebarTab active" id="library">
                            <ul id="libraryList" class="nav nav-list">
                               <li class="nav-header">Library</li>
                            </ul>
                        </div>
                        <div class="tab-pane sidebarTab" id="upload">
                            <ul id="uploadList" class="nav nav-list">
                               <li class="nav-header">Upload</li>
                            </ul>
                        </div>
                        <div class="tab-pane sidebarTab" id="effects">
                            <ul id="effectList" class="nav nav-list">
                               <li class="nav-header">Effects</li>
                               <li class="effectDrag"><a href="#">Reverb</a></li>
                               <li class="effectDrag"><a href="#">Filter</a></li>
                               <li class="effectDrag"><a href="#">Tremolo</a></li>
                               <li class="effectDrag"><a href="#">Compressor</a></li>
                               <li class="effectDrag"><a href="#">Delay</a></li>

                            </ul>
                        </div>
                    </div>
                    <ul class="nav nav-pills sidebarTabs">
                        <li class="active"><a href="#library" data-toggle="tab">Library</a></li>
                        <li><a href="#upload" data-toggle="tab">Upload</a></li>
                        <li><a href="#effects" data-toggle="tab">Effects</a></li>
                    </ul>
                </div>

            </div>
            <div id="tracks" class="span9 scrollable">
                <div class="row-fluid">
                    <div class="span1" style="position:relative;">
                        <div id="clock" class="clock"></div>
                    </div>
                     <div class="span1" >
                        <div id="zoom">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-mini" id = "zoomOut">
                                        <i class="icon-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-mini" id = "zoomIn">
                                        <i class="icon-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span10 timeline">
                        <canvas id="timeline" width="500" height="20" style="padding-top:10px;">

                        </canvas>
                    </div>
                </div>
            </div>
            <div id="newTrackButton" class="span9 addTrack">
                <a id="addTrackButton" href="#"><p class="text-center"><i class="icon-plus-sign"></i></p></a>
            </div>
        </div>
        <div class="row-fluid" >
            <div class="span11 well" id="trackEffects">
                <button id="trackEffectsClose" class="close">&times;</button>
                <div>
                    <h4 id="trackEffectsHeader"></h4>
                </div>
                <div class="effectsBed">
                    <ul id="effectSortable">
                    <li class="hidden effect" id="Reverb">
                        <h6 style="margin:0px 0;">Reverb</h6>
                        <p class="left-knob-label">Reverb Type</p>

                        <p class="right-knob-label">Wet/Dry</p>
                        <span class="knobs">
                            <!--<form>
                            <select id="reverbList">
                                <option>reverb1</option>
                                <option>reverb2</option>
                            </select>
                        </form> -->
                            <input id="reverbIrSelectKnob" data-fgColor="#222222" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="1" class="dial" value="0">
                            <input id = "reverbWetDryKnob" data-fgColor="#bd362f" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" class="dial">


                        </span>
                        <button class="effectClose">&times;</button>
                    </li>
                    <li class="hidden effect" id="Filter">
                        <h6 style="margin:0px 0;">Filter</h6>
                        <p class="left-knob-label">Cutoff</p>
                        <p class="middle-knob-label">Q</p>
                        <p class="right-knob-label">Type</p>
                        <span class="knobs">
                            <input id="filterCutoffKnob" data-fgColor="#bd362f" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="100" class="dial" value="30">
                            <input id="filterQKnob" data-fgColor="#f89406" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="1" data-max="10" class="dial" value="1">
                            <input id="filterTypeKnob" data-fgColor="#222222" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="2" class="dial" value="0">
                        </span>
                        <button class="effectClose">&times;</button>
                    </li>
                    <li class="hidden effect" id="Delay">
                        <h6 style="margin:0px 0;">Delay</h6>
                        <p class="left-knob-label">Delay Time</p>
                        <p class="middle-knob-label">Feedback</p>
                        <p class="right-knob-label">Wet/Dry</p>
                         <span class="knobs">
                            <input id="delayTimeKnob" data-fgColor="#bd362f" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="8" class="dial" value="1">
                            <input id="delayFeedbackKnob" data-fgColor="#f89406" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="1" data-max="100" class="dial" value="1">
                            <input id="delayWetDryKnob" data-fgColor="#222222" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="100" class="dial" value="0">
                        </span>
                        <button class="effectClose">&times;</button>
                    </li>
                    <li class="hidden effect" id="Compressor">
                        <h6 style="margin:0px 0;">Compressor</h6>
                        <p class="left-knob-label">Threshold</p>
                        <p class="middle-knob-label">Ratio</p>
                        <p class="right-knob-label">Attack</p>
                        <span class="knobs">
                            <input id="compressorThresholdKnob" data-fgColor="#08c" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="-100" data-max="-1" class="dial" value="-24">
                            <input id="compressorRatioKnob" data-fgColor="#51a351" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="1" data-max="20" class="dial" value="12">
                            <input id="compressorAttackKnob" data-fgColor="#bd362f" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="1000" class="dial" value="3">
                        </span>
                        <button class="effectClose">&times;</button>
                    </li>
                    <li class="hidden effect" id="Tremolo">
                        <h6 style="margin:0px 0;">Tremolo</h6>
                        <p class="left-knob-label">-</p>
                        <p class="middle-knob-label">Rate</p>
                        <p class="right-knob-label">Depth</p>
                        <span class="knobs">
                            <input id="tremoloNothingKnob" data-fgColor="#08c" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="-100" data-max="-1" class="dial" value="0">
                            <input id="tremoloRateKnob" data-fgColor="#51a351" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="1" data-max="20" class="dial" value="2">
                            <input id="tremoloDepthKnob" data-fgColor="#bd362f" data-linecap=round data-angleOffset=-125 data-angleArc=250 data-width="50" data-min="0" data-max="100" class="dial" value="10">
                        </span>
                        <button class="effectClose">&times;</button>
                    </li>
                    <ul>
                </div>
            </div>
            <div id="masterControl" class="span1 well">
                <canvas id="VUmeterCanvas" width="30" height="80" style="display: block;"></canvas>
                <div id="masterVolume"></div>
            </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="../../static/js/bootstrap-button.js"></script>
    <script src="../../static/js/wavesurfer.js"></script>
    <script src="../../static/js/webaudio.js"></script>
    <script src="../../static/js/drawer.js"></script>
    <script src="../../static/js/scheduler.js"></script>
    <script src="../../static/js/storage.js"></script>
    <script src="../../static/js/jquery.knob.js"></script>
    <script src="../../static/js/recorder.js"></script>
    <script src="../../static/js/effects.js"></script>
    <script src="../../static/js/main.js"></script>
    <script src="../../static/js/vumeter.js"></script>

{% endblock %}
