<style>
    .navbar {
        background-color: #405C84;
    }
</style>

<!--Navigation-->
<nav class="navbar navbar-fixed-top z-depth-1" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#sec-home" class="waves-effect waves-light">Home <i class="fa fa-home left"></i></a></li>
                <li><a href="#sec-best-features" class="waves-effect waves-light">Explore</a></li>
                <li><a href="#sec-details" class="waves-effect waves-light">Projects</a></li>
                <li><a href="#sec-testimonials" class="waves-effect waves-light">Link</a></li>
                <li><a href="#sec-pricing" class="waves-effect waves-light">Link</a></li>
                <li><a href="#sec-contact" class="waves-effect waves-light">Contact</a></li>

            </ul>

        </div>
    </div>
</nav>
<!--/.Navigation-->